<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196483564569-qa19issj1s3vqh85tle774qkgq7olqqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196483564569-qa19issj1s3vqh85tle774qkgq7olqqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqv7Rq6_kF0hQ9r3JzZ5WywwEIr5ZcssY</string>
	<key>GCM_SENDER_ID</key>
	<string>196483564569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cheeseMeUp</string>
	<key>PROJECT_ID</key>
	<string>cheese-me-up</string>
	<key>STORAGE_BUCKET</key>
	<string>cheese-me-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196483564569:ios:b7e001ba9506fda1</string>
	<key>DATABASE_URL</key>
	<string>https://cheese-me-up.firebaseio.com</string>
</dict>
</plist>